.about {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.unsplash.com/photo-1496284575094-d5b92db3890d?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;          
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 55%; /* slightly lower than center */
  overflow: auto;
  font-family: "Varta", sans-serif;
}

img {
  max-height: 220px;
  border-radius: 5px;
  /* width: 200px; */
}
.caption {
  color: black;
}
.aboutimg {
  border-radius: 10%;
}
.imgabout {
  justify-content: center;
  margin-left: 45%;
  border-radius: 50%;
}
.imgaboutcode {
  justify-content: center;
  margin-left: 45%;
  border-radius: 25%;
}

@media only screen and (max-width: 800px) {
  .imgabout {
    justify-content: center;
    margin-left: 40%;
  }
  .imgaboutcode {
    justify-content: center;
    margin-left: 40%;
  }
}
