.resume {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.unsplash.com/photo-1625794084867-8ddd239946b1?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: 100%; /* zooms out */
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 95vh;
  overflow: auto;
  font-family: "Varta", sans-serif;
  background-position: center; /* keeps image centered */
}
a {
  text-decoration: none;
}
.textbox {
  max-width: 70%;
  max-height: 1500px;
  font-size: 17.5px;
  background-color: rgb(255, 255, 255, 0.5);
  text-align: left;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.flexbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
iframe {
  border-radius: 5px;
  border: none;
}
.card {
  border-radius: 1px;
  width: auto;
  padding: 3.5%;
}
.mobilemail2 {
  display: none;
}
.mobilemail {
  /* padding-left: 10%; */
  font-size: 20px;
}
.imgresume {
  display: none;
}
.imgresume2 {
  display: inline-block;
}

@media only screen and (max-width: 900px) {
  iframe {
    display: none;
    /* width: 100%; */
    /* zoom: 50; */
  }
  .mobilemail {
    display: none;
  }
  .mobilemail2 {
    display: block;
    font-size: 13px;
  }
  .textbox {
    max-width: 95%;
  }
  .imgresum {
    height: 90%;
    width: 75%;
  }
  .gmail {
    margin-top: 0px;
  }
  .imgresume {
    display: inline-block;
    margin: 10px;
  }
  .imgresume2 {
    display: none;
  }
  .github {
    padding-top: 10px;
  }
  .card {
    border-radius: 5px;
    width: auto;
    padding: 15%;
  }
}
