.homer {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.unsplash.com/photo-1504208434309-cb69f4fe52b0?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: 100%; /* zooms out */
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 95vh;
  overflow: auto;
  font-family: "Varta", sans-serif;
  background-position: center; /* keeps image centered */
}
.homer2 {
 background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.unsplash.com/photo-1504208434309-cb69f4fe52b0?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: 100%; /* zooms out */
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 45vh;
  overflow: auto;
  font-family: "Varta", sans-serif;
  background-position: center; /* keeps image centered */
}

.flex {
  /* height: 100%; */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
    /* visibility: hidden; */
  }
}

/* Author of animation: Alvaro Montoro  */
@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.animated-title {
  color: #222;
  margin-top: 150px;
  font-family: "Varta", sans-serif;
  margin-left: 90px;
  height: 50vmin;
  left: 50%;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 40%;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 6vmin;
  padding: 1vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 0.5vmin solid #000;
  width: 80%;
  /* justify-content: center; */
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #767676;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  font-size: 20px;
  text-align: left;
  width: 83%;
  height: 200px;
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 20px;
  transform: translate(0, -100%);
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: "Varta", sans-serif;
  text-shadow: 0 0 5px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s;
}
html {
  scroll-behavior: smooth;
}
#colorD {
  color: #1976d2;
}
.homebut {
  width: 175px;
  padding: 10px;
}
h4 {
  font-family: "Varta", sans-serif;
}
.imghome {
  margin: 2px;
  padding: 2px;
}
.collapsible {
  width: 55%;
  margin-left: 25%;
}
.w3-animate-left {
  position: relative;
  animation: animateleft 1.6s;
}
.w3-animate-right {
  position: relative;
  animation: animateright 1.6s;
}

@media only screen and (max-width: 700px) {
  .imghome {
    width: 90px;
    height: 90px;
    margin: 8px;
    padding: 12px;
    border-radius: 25%;
  }
  .collapsible {
    width: 100%;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 1250px) {
  h2 {
    font-size: 35px;
  }
  .animated-title {
    color: #222;
    margin-top: 80px;
    font-family: "Varta", sans-serif;
    margin-left: 12.5%;
    /* height: 50%; */
    left: 45%;
    position: absolute;
    top: 65%;
    transform: translate(-50%, -50%);
    width: 85%;
  }
  .animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  .animated-title > div div {
    font-size: 5vmin;
    /* padding: 0vmin 0; */
    position: absolute;
  }
  .animated-title > div div span {
    display: block;
  }
  .animated-title > div.text-top {
    border-bottom: 0.5vmin solid #000;
    width: 100%;
    /* justify-content: center; */
    top: 0;
  }
  .animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }
  .animated-title > div.text-top div span:first-child {
    color: #767676;
  }
  .animated-title > div.text-bottom {
    bottom: 0;
  }
  .animated-title > div.text-bottom div {
    font-size: 27px;
    text-align: left;
    height: 80%;
    width: 83%;
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }
}

.hero-title {
  font-size: 5rem; /* normal h1 size for desktop */
}
@media only screen and (max-width: 1560px) {
  .homer {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.3)
      ),
      url("https://images.unsplash.com/photo-1504208434309-cb69f4fe52b0?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .animated-title {
    color: #222;
    margin-top: 15%;
    font-family: "Varta", sans-serif;
    margin-left: 12.5%;
    /* height: 50%; */
    left: 45%;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 60%;
  }
  .animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  .animated-title > div div {
    font-size: 5vmin;
    /* padding: 0vmin 0; */
    position: absolute;
  }
  .animated-title > div div span {
    display: block;
  }
  .animated-title > div.text-top {
    border-bottom: 0.5vmin solid #000;
    width: 80%;
    /* justify-content: center; */
    top: 0;
  }
  .animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }
  .animated-title > div.text-bottom {
    bottom: 0;
  }
  .animated-title > div.text-bottom div {
    font-size: 15px;
    text-align: left;
    height: 80%;
    width: 63%;
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }
}
@media only screen and (max-width: 750px) {
  .animated-title {
    color: #222;
    /* margin-top: 80px; */
    font-family: "Varta", sans-serif;
    margin-left: 12.5%;
    /* height: 50%; */
    left: 45%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 85%;
  }
  .animated-title > div div {
    font-size: 7vmin;
    /* padding: 0vmin 0; */
    position: absolute;
  }
  .animated-title > div.text-bottom div {
    font-size: 17px;
    text-align: left;
    height: 80%;
    width: 83%;
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }

  .hero-title {
    font-size: 3rem; /* h2-like size on mobile */
  }
}

.animated-title .text-top .role {
  color: #1976d2;
}


